/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
    box-sizing: border-box;
  }
  
  /******************************************
  /* LAYOUT
  /*******************************************/

  body{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgb(195,207,203);
    color: rgb(87, 87, 87);
  }

  .pad{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5%;
    text-align: center;
    margin-top: 10vh;
    padding: 7% 0;
    width: 55%;
    border: rgb(212, 226, 222) 3px solid;
    border-radius: 50px;
    background: rgb(195,207,203);
    box-shadow:  20px 20px 60px #a6b0ad,
                -20px -20px 60px #e0eee9;
  }
  #display{
    width: 75%;
    height: 2vh;
    border-radius: 25px;
    background-color: rgb(255, 255, 255);
    box-shadow:  7px 7px 20px #a6b0ad,
                -7px -7px 20px #e0eee9;
    padding: 10%;
    text-align: right;
    font-size: 1.5em;
  }

  ul{
    list-style: none;
    display: grid;
    grid-template-columns: 50px 50px 50px 50px;
    grid-template-rows: auto; 
    column-gap: 5px;
    row-gap: 5px;
    text-align: center;
    margin: 5%;
    padding-right: 10%;
    
  }
  li{
    background-color: white;
    margin: 5%;
    padding: 15px;
    border-radius: 18px;
    box-shadow:  7px 7px 20px #a6b0ad,
                -7px -7px 20px #e0eee9;
  }
  .oper{
    font-size: 1.5rem;
    font-weight: 700;
    padding: 10px;
  }
  .num{
    font-weight: 700;
  }

#clear{
  padding: 5% 15%;
  border: rgb(212, 226, 222) 3px solid;
    border-radius: 25px;
    background: rgb(195,207,203);
    box-shadow:  7px 7px 20px #a6b0ad,
                -7px -7px 20px #e0eee9;
}


li, #clear{
  cursor: pointer;
}